@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --black800: #000,
  --black700: #242424,
  --white: #FFF,
  --prim800: #d18700,
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
html{
  @apply scroll-smooth;
  font-size:62.5%;
}
body{
  @apply bg-gray-900 text-white;
}
h1,h2,h3,h4{ 
  @apply font-extrabold;
  line-height:180%;
}
h1{
  display:flex;
  padding:20px;
}

button,
input,
body{
  font-size:1.6rem;
  font-weight: 500;
  line-height: 160%;
}
h2{
  font-size:4.6rem;
}
h3{
  font-size:2.8rem;
  font-style: italic;
  font-weight: 400;
  line-height:180%;
}

h4{
  font-size:2.4rem;
}
p + p {
  margin-top:20px;
}
img{
  align-items: center;
  max-width:1200px;
  width: 100%;
  margin: auto;
}  
svg,
svg path{
  fill:currentColor
}

a{
  text-decoration: none;
  color:currentColor;
}
